<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/assets/artigo.css">
</head>
<body>
    <div class="home-btn">
        <a href="/">Voltar para a página de pesquisa &#10558;</a>
    </div>
    <div class="article-header">
        <h1 class="article-title">{{.Title}}</h1>
        <h3 class="article-author">{{.Author}}</h4>
    </div>
    <div class="article-media">
        {{if eq .MediaType "Image"}}
        <div class="highlighted-image"></div>
        {{else}}
        <iframe width="640" height="480" src="{{.Media}}"></iframe>
        {{end}}
    </div>
    <div class="article-content">
        <p class="article-text">
            {{render .Text}}
        </p>
    </div>

    <button onclick="topFunction()" id="top-btn" title="Go to top">&#10149;</button>

    <footer>
        Newspreader ©{{.Year}}
    </footer>

    <script>
        let img_block = document.querySelector(".article-media .highlighted-image");
        if(img_block != 'undefined'){
            img_block.style.backgroundImage = "url('{{.Media}}')";
        }

        let mybutton = document.getElementById("top-btn");

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
                mybutton.style.visibility = 1;
            } else {
                mybutton.style.display = "none";
                mybutton.style.visibility = 0;
            }
        }

        function topFunction() {
            document.documentElement.scrollTo({
                top: 0,
                behavior: "smooth"
            })
        }
    </script>
</body>
</html>