@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Rubik', Helvetica, sans-serif;
    color: #fff;
    background-color: #121212;
    margin: 0;
}

.article-header {
    margin: 10em 20vw 4em 20vw;
}

.article-header .article-title {
    font-size: 35px;
    text-align: center;
}

.article-header .article-author {
    font-size: 25px;
    text-align: center;
}

.article-media {
    text-align: center;
    margin: 10vh auto;
}

.article-media .highlighted-image {
    display: inline-block;
    padding: 1px;
    margin: 1px;
    width: 70vw;
    height: 55vh;
    max-width: 640px;
    max-height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.article-content {
    margin: 4em 20vw;
}

.article-content .article-text {
    font-size: 22px;
    line-height: 1.5;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    margin: 5em auto 3.5em auto;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .article-header {
        margin: 5em 5vw;
    }

    .article-header .article-title {
        font-size: 50px;
        text-align: center;
    }
    
    .article-header .article-author {
        font-size: 35px;
        text-align: center;
    }

    .article-media .highlighted-image {
        display: inline-block;
        padding: 1px;
        margin: 1px;
        width: 100vw;
        height: 60vh;
        max-width: unset;
        max-height: unset;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .article-content {
        margin: 5em 5vw;
    }

    .article-content .article-text {
        font-size: 30px;
        line-height: 1.5;
    }

    footer {
        margin: 3em auto 3.5em auto;
        font-size: 25px;
    }
}